<br>
<h1 id="safetyHeader">Safety Features of a Car</h1>
<br>
<div class="safetyFeature">
    <h2>Safety Belt</h2>
    <p>Keeps passengers secured to the car seat and allows them to get the full benefits of the air bags</p>
</div>
<div class="safetyFeature">
    <h2>Lower Anchors and Tethers for Children</h2>
    <p>Makes child seat installation more secure.</p>
</div>
<div class="safetyFeature">
    <h2>Brake Assist</h2>
    <p>When driver initiates a panic stop, brake assist makes the stop at the shortest distance by preventing the wheels from locking up.</p>
</div>
<div class="safetyFeature">
    <h2>Forward Collision Warning</h2>
    <p>Automatically detects for crashes. Alerts the user and can even deploy emergency braking.</p>
</div>
<div class="safetyFeature">
    <h2>Pedestrian Detection</h2>
    <p>Visual cues, audio cues, and emergency braking to detect pedestrians.</p>
</div>
<div class="safetyFeature">
    <h2>Blind Spot Warning</h2>
    <p>Receive visual cues if a vehicle is in the blind spot of a car</p>
</div>
<div class="safetyFeature">
    <h2>Backup Camera</h2>
    <p>Helps prevet crashes by making parking easier as well as being able to see if there are any vehicles or pedestrians behind your car.</p>
</div>
<div class="safetyFeature">
    <h2>Parking Assist</h2>
    <p>Embedded sensors that detect if you are getting to close to surronding objects.</p>
</div>
<div class="safetyFeature">
    <h2>Lane Assist</h2>
    <p>Assistance for alerting the driver if they have steered out of their lane and enable lane-keeping assist to gradually steer you back into your lane.</p>
</div>